input,
button {
  outline: none;
  border: none;
}

.customModal {
  width: 30%;
  height: 50%;
  border-radius: 20px;
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 600px) {
  .customModal {
    width: 80%;
    height: 50%;
  }
}
